@import '../shared/styles/_variables';

.profile-card {
  background: $orange;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  opacity: 0;
  margin-top: 70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, material 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, material 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    header {
      width: $website-width;
      height: $website-height;
      padding: 40px 20px 30px 20px;
      display: inline-block;
      float: left;
      border-right: 2px dashed #EEEEEE;
      background: $white;
      color: $black;
      margin-top: 50px;
      opacity: 0;
      text-align: center;
      -webkit-animation: moveIn 1s 3.1s ease forwards;
      animation: moveIn 1s 3.1s ease forwards;
      h1 {
        color: $red;
      }
      a {
        display: inline-block;
        text-align: center;
        position: relative;
        margin: 25px 30px;
        &:after {
          position: absolute;
          content: "";
          bottom: 3px;
          right: 3px;
          width: 20px;
          height: 20px;
          border: 4px solid $white;
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          background: -webkit-linear-gradient(top, $red 30%, $white 20%, $white 70%, $blue 30%);
          background: linear-gradient($red 30%, $white 20%, $white 70%, $blue 30%);
          -webkit-border-radius: 50%;
          border-radius: 50%;
          -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
          -webkit-animation:  0.3s 3.5s ease forwards;
          animation:  0.3s 3.5s ease forwards;
        }
        > img {
          width: 120px;
          max-width: 100%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          -webkit-transition: -webkit-box-shadow 0.3s ease;
          transition: box-shadow 0.3s ease;
          -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
        }
        &:hover > img {
          -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
        }
      }
    }

    .profile-bio {
      width: 175px;
      height: 180px;
      display: inline-block;
      float: right;
      padding: 50px 20px 30px 20px;
      background: $white;
      color: $gray;
      margin-top: 50px;
      text-align: center;
      opacity: 0;
      -webkit-animation: moveIn 1s 3.1s ease forwards;
      animation: moveIn 1s 3.1s ease forwards;
    }

    .signature {
      color : $gray;
      text-align:center;
      margin-top:20px;
    }
}


    .profile-social-links {
      width: 218px;
      display: inline-block;
      float: right;
      margin: 0px;
      padding: 15px 20px;
      background: $white;
      margin-top: 50px;
      text-align: center;
      opacity: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-animation: moveIn 1s 3.1s ease forwards;
      animation: moveIn 1s 3.1s ease forwards;

      li {
        list-style: none;
        margin: -5px 0px 0px 0px;
        padding: 0px;
        float: left;
        width: 25%;
        text-align: center;

        a {
          display: inline-block;
          color: $red;
          width: 24px;
          height: 24px;
          padding: 6px;
          position: relative;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          i {
            position: relative;
            z-index: 1;
          }
          img, svg{
            width: 24px;
          }
        }
      }
    }

@-webkit-keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@-webkit-keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    -webkit-border-radius: 0px;
  }
}

@keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@-webkit-keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes moveUp {
  0% {
    background: $orange;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: $white-dark;
  }
}

@keyframes moveUp {
  0% {
    background: $orange;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: $white-dark;
  }
}

@-webkit-keyframes material {
  0% {
    background: $white-dark;
  }
  50% {
    -webkit-border-radius: 4px;
  }
  100% {
    width: $website-width;
    height: $website-height;
    background: $white;
    -webkit-border-radius: 4px;
  }
}

@keyframes material {
  0% {
    background: $white-dark;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: $website-width;
    height: $website-height;
    background: $white;
    border-radius: 4px;
  }
}

@-webkit-keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  body {
    background-size: cover;
  }
  body:before {
    width: 0px;
  }
  @-webkit-keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
  @keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
}

@media screen and (min-height: 480px) {
  .profile-card {
    header {
      width: auto;
      height: auto;
      padding: 30px 20px;
      display: block;
      float: none;
      border-right: none;
    }
    .profile-bio {
      width: auto;
      height: auto;
      padding: 15px 20px 30px 20px;
      display: block;
      float: none;

      .nirby {
        width:80px;
      }
    }
  }
  .profile-social-links {
    width: 100%;
    display: block;
    float: none;
  }
  @-webkit-keyframes material {
    0% {
      background: $white-dark;
    }
    50% {
      -webkit-border-radius: 4px;
    }
    100% {
      width: $website-width;
      height: $website-height;
      background: $white;
      -webkit-border-radius: 4px;
    }
  }
  @keyframes material {
    0% {
      background: $white-dark;
    }
    50% {
      border-radius: 4px;
    }
    100% {
      width: $website-width;
      height: $website-height;
      background: $white;
      border-radius: 4px;
    }
  }
}