<aside class="profile-card">
  <header>
    <!-- here’s the avatar -->
    <a target="_blank" href="https://fr.linkedin.com/in/chabanerefes" class="profile">
      <img src="assets/img/profile.jpg" class="hoverZoomLink">
    </a>
    <a target="_blank" href="https://www.scrum.org/Assessments/Certification-Lists?AssessmentName=PSM%20I&l=refes" class="psm1">
      <img src="assets/img/psm1.png" class="psm1">
    </a>

    <!-- the username -->
    <h1>
      REFES Chabane
    </h1>

    <!-- and role or location -->
    <h2>
      {{ 'home.title' | translate }}
    </h2>

  </header>

<!--
  <vaadin-grid #grid (selected-items-changed)="onchange($event)">
    <table>
      <colgroup>
        <col name="number" width="80">
        <col name="firstName">
        <col name="lastName">
        <col name="email">
      </colgroup>
      <tbody>
        <tr *ngFor="let person of people">
          <td>{{person.id}}</td>
          <td>{{person.firstName}}</td>
          <td>{{person.lastName}}</td>
          <td>{{person.email}}</td>
        </tr>
      </tbody>
    </table>
  </vaadin-grid>
-->

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    <p> {{ 'home.description' | translate }}
    </p>
    <br/>
    <a target="_blank" href="https://www.nirbyapp.com">
      <img src="assets/img/nirby.png" class="nirby">
    </a>
  </div>

  <!-- some social links to show off -->
  <ul class="profile-social-links">
    <li>
      <a target="_blank" href="https://twitter.com/ChabaneRefes">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/Chabane">
        <i class="fa fa-github"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://fr.linkedin.com/in/chabanerefes">
        <i class="fa fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://fr.viadeo.com/fr/profile/chabane.refes">

        <i class="fa fa-viadeo"></i>
      </a>
    </li>
  </ul>

  <p class="signature">{{'home.signature' | translate}}</p>
</aside>